@media (min-width: 600px) {
	.charts-container {
	  margin-top:100px;
	  display: flex;
	  justify-content: space-between;
	}
  }
  .charts-container {
	margin-top:50px;
  }
  /* Add these styles to your stylesheet or inline styles */
/* Add these styles to your stylesheet or inline styles */
.charts-container {
	padding: 20px;
  }
  
  .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
  }
  
  .chart-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center horizontally */
	justify-content: center; /* Center vertically */
  }
  